body{
    display: flex;
    flex-direction: row;
}
.leftSide,
.rightSide {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; 
}